/********************************** FONTS **********************************/
@font-face {
	font-family: 'Poppins-Light';
	src: url("./Poppins-Light.ttf");
}

@font-face {
	font-family: 'Roboto';
	src: url("./Roboto-Regular.ttf");
}

:root {
	--color-text-primary: #e0e0e0;
	--color-text-secondary: #888888;
	--color-text-link: #80c2ff;
	--color-text-link-hover: #95c4f0;
	--color-text-link-active: #6da8d9;

	--color-bg-primary: #121212;
	--color-bg-secondary: #1a1a1a;
	--color-bg-tertiary: #2a2a2a;

	--color-border-primary: #444444;

	--color-shadow-primary: #00000094;

	--color-transparent-white: #ffffff1e;
}

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: var(--color-text-link);
	text-decoration: none;
}

a:hover {
	color: var(--color-text-link-hover);
}

button:hover {
	cursor: pointer;
}

.main-container {
	display: flex;
	flex-grow: 1;
	background-color: transparent;
	gap: 35px;
}

p {
	line-height: 1.65em;
	padding: 10px 0;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: 'Poppins-Light', sans-serif;
}

/* HEADER */
header {
	display: flex;
	background-color: var(--color-bg-secondary);
	align-items: center;
	padding: 10px 20px;
	justify-content: space-between;
	box-shadow: 0 2px 7px var(--color-shadow-primary);
	z-index: 1;
}

header .pg-title {
	margin: 0;
}

header form {
	width: 50%;
	height: 35px;
	display: flex;
	gap: 25px;
}

header form input[type="search"] {
	flex-grow: 1;
	max-width: 420px;
	border: 1px solid var(--color-border-primary);
	border-radius: 50vh;
	outline: none;
	background: var(--color-bg-tertiary);
	padding: 0 20px;
	color: var(--color-text-primary);
	transition: all 0.1s ease-in;
}

header form input[type="search"]:focus {
	border: 1px solid var(--color-text-link);
	box-shadow: 0 0 3px var(--color-text-link);
}

header form input[type="search"]::placeholder {
	color: var(--color-text-secondary);
}

header form button[type="submit"] {
	width: fit-content;
	background-color: var(--color-text-link);
	border: none;
	border-radius: 9px;
	padding: 0 15px;
	transition: all 0.1s ease-in;
}

header form button[type="submit"]:hover {
	background-color: var(--color-text-link-hover);
}

header form button[type="submit"]:active {
	background-color: var(--color-text-link-active);
}

header nav ul {
	display: flex;
	list-style: none;
	gap: 55px;
}

header nav ul li {
	position: relative;
	transition: all 0.3s ease-in-out;
}

header nav ul li:hover {
	transform: translate(0, -3px);
}

header nav ul li::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-text-link);
}

header nav ul li:hover::after {
	width: 100%;
	transition: all 0.3s ease-in-out;
}

/* LATERAL MENU */
.lateral-menu {
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: var(--color-bg-secondary);
	flex-shrink: 0;
	width: 200px;
	box-shadow: 2px 0 4px var(--color-shadow-primary);
	align-items: center;
}

.lateral-menu-title {
	text-shadow: -2px -1px 3px var(--color-shadow-primary);
	font-size: larger;
	font-weight: bolder;
}

.lateral-menu nav {
	padding: 0 10px;
	align-self: flex-start;
	width: 100%;
}

.lateral-menu nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 10px;
	width: 100%;
}

.lateral-menu nav ul li {
	padding: 7px 10px;
	transition: all 0.2s ease-out;
	border-radius: 7px;
}

.lateral-menu nav ul li:hover {
	transform: scale(1.07);
	background-color: var(--color-transparent-white);
}

/* MAIN CONTENT */
.main-content {
	background-color: var(--color-bg-secondary);
	flex-shrink: 1;
	padding: 20px 45px;
	box-shadow: -3px -2px 4px var(--color-shadow-primary);
	margin: 20px 0;
	border-radius: 7px 0 0 7px;
}

.article-title {
	position: relative;
}

.article-title::after {
	position: absolute;
	content: "";
	bottom: -10px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: var(--color-bg-tertiary);
}

/* FOOTER */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--color-bg-secondary);
	box-shadow: 0 -2px 7px var(--color-shadow-primary);
	padding: 10px 0;
}

footer p {
	padding: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1100px) {
	header {
		flex-wrap: wrap;
	}

	header nav {
		background-color: var(--color-bg-tertiary);
		justify-content: center;
		display: flex;
		margin: 10px 0 0;
		width: 100%;
		padding: 10px;
		border-radius: 50vh;
	}
}

@media screen and (max-width: 880px) {
	header form button[type="submit"] {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.lateral-menu {
		display: none;
	}

	.main-content {
		border-radius: 10px;
		margin: 30px 20px;
		box-shadow: none;
	}
}

